.search {
    max-width: 1140px;
    margin: 0 auto;
    color: #ffffff;
    padding: 70px 70px 0;
    margin-bottom: 10px;
}

.secrch__elements {
    border-bottom: 1px solid #424242;
    padding-bottom: 70px;
}

.search__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2F2F2F;
    border-radius: 9px;
    width: 100%;
    height: 72px;
}

.search__container {
    display: flex;
    align-items: center;
    width: 100%;
}

.search__icon {
    margin: 0 10px 0 19px;
    cursor: pointer;
}

.search__input {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    flex-grow: 1;
    width: 100%;
}

.search__btn {
    color: #FFF;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    padding: 8px 12px;
    border-radius: 48px;
    background-color: #4285F4;
    border: none;
    cursor: pointer;
    margin-right: 30px;
    transition: opacity .3s ease;
}

.search__btn:hover {
    opacity: 0.8;
}


@media screen and (max-width:900px) {
    .search {
        padding: 80px 30px 70px;
    }

    .secrch__elements {
        padding-bottom: 109px;
    }

    .search__btn {
        margin-right: 20px;
    }
}

@media screen and (max-width:680px) {
    .search {
        padding: 80px 10px 40px;
    }

    .search__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: transparent;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    .search__container {
        display: flex;
        align-items: center;
        height: 72px;
        border-radius: 9px;
        background-color: #2F2F2F;
    }

    .search__icon {
        display: none;
    }

    .search__input {
        margin-left: 20px;
        font-size: 14px;
        line-height: 20px;
    }

    .search__btn {
        margin-right: 20px;
    }

    .secrch__elements {
        padding-bottom: 34px;
    }
}